/* entry.css */

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';

* {
  font-family: 'Roboto', sans-serif;
}

/* LAYOUT */
.row {
  clear: both;
}

.row:after {
    clear: both;
    content: "\00a0 ";
}

.col-xs-3,
.col-xs-6,
.col-xs-9 {
  float: left;
  margin: 0 10px;
}

.col-xs-3 {
  width: 28%;
}

.col-xs-6 {
  width: 42%;
}

.col-xs-9 {
  width: 60%;
}

#entry-container {
  margin: 15px auto;
  width: 100%;
}

/* DEALER CONTAINER */
#dealer-container h2 {
  font-size: 1.4em;
}

#dealer-container img {
  width: 100%;
}

#dealer-container .phone {
  font-size: 1.2em;
}

#dealer-container .phone a {
  text-decoration: none;
}

/* CTA CONTAINER */
#cta-container {
  padding: 30px 0;
  text-align: center;
}

#cta-container button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
